h2{
    text-decoration: line-through;
}
h3{
    text-decoration: underline;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(202, 247, 247);
}