.a{
    border: 5px solid black;
    background-color: rgb(202, 247, 247);
}
.b{
    border: 2.5px solid black;
    background-color: rgb(202, 247, 247);
}
.c{
    border: 1px solid black;
    background-color: rgb(202, 247, 247);
}